<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="ten columns">
			<h2><%= job.title %></h2>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">

	<!-- Recent Jobs -->
	<div class="eleven columns">
		<div class="padding-right">

			<!-- Company Info -->
			<div class="company-info">
				<img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
				<div class="content">
					<h4><%= job.company_name%></h4>
				</div>
				<div class="clearfix"></div>
			</div>

			<p class="margin-reset">
				<%- job.full_description %>
			</p>
		</div>
		<div class="clearfix"></div>
	</div>

	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Overview</h4>

			<div class="job-overview">

				<ul>
					<li>
						<i class="fa fa-map-marker"></i>
						<div>
							<strong>Location:</strong>
							<span><%= job.city %>, <%= job.nation %></span>
						</div>
					</li>
					<li>
						<i class="fa fa-user"></i>
						<div>
							<strong>Job Title:</strong>
							<span><%= job.title%></span>
						</div>
					</li>
				</ul>


				<a class="popup-with-zoom-anim button" href="<%= job.url %>" target="_blank">Apply For This Job</a>

				<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
					<div class="small-dialog-headline">
						<h2>Apply For This Job</h2>
					</div>
				</div>

			</div>

		</div>

	</div>
	<!-- Widgets / End -->

	<div class="clearfix"></div>
</div>