<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="ten columns">
      <h2>Results for <%= category %> in <%= place%></h2>
    </div>
  </div>
</div>

<!-- Content
================================================== -->
<div class="container padding-bottom">
  <!-- Widgets -->
  <div class="five columns">
	<h2>Austin, TX</h2>
	<h4>Stats</h4>
	<ul>
	  <li>Population:</li>
	  <li>Population:</li>
	  <li>Population:</li>
	</ul>
	<ul>
	  <li>Rent:</li>
	  <li>Rent:</li>
	  <li>Rent:</li>
	</ul>
	<ul>
	  <li>Temps:</li>
	  <li>Temps:</li>
	  <li>Temps:</li>
	</ul>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
	</p>
	<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
			veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
			velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
			cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
			est laborum.
		  </p>
		  <p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
				est laborum.
			  </p>

  </div>
  <!-- Widgets / End -->

  <!-- Recent Jobs -->
  <h2>Jobs</h2>
  <div class="eleven columns jobs">
    <div class="padding-right">
      <ul class="job-list full">
        <% jobs.forEach((job) => {%>

        <li>
          <a href="job-page.html">
            <img src="images/job-list-logo-01.png" alt="" />
            <div class="job-list-content">
              <h4><%=job.title%></h4>
              <div class="job-icons">
                <span
                  ><i class="fa fa-briefcase"></i> <%=job.company_name%></span
                >
                <% if(job.city){%>
                <span><i class="fa fa-map-marker"></i> <%=job.city%></span>
                <%}%>
              </div>
              <p><%=job.description%></p>
            </div>
          </a>
          <div class="clearfix"></div>
        </li>
        <% });%>
      </ul>
      <div class="clearfix"></div>

      <!--
		<div class="pagination-container">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">22</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">Previous</a></li>
					<li><a href="#" class="next">Next</a></li>
				</ul>
			</nav>
        </div>
        -->
    </div>
  </div>
</div>
